<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
        <div class="header">
                <ul>
                    <% urls.forEach(function(linkItem){  %>
                    <li>
                        <a href="<%= linkItem.url %>"><%= linkItem.name %></a>
                    </li>
                    <% }) %>
                </ul>
            </div>
    <h2>About us</h2>
    
</body>
</html>